<!-- <h2>Employee Component</h2>

Employee Name : {{ empName }} -->
<!-- <br>
<div [ngClass]="{'alert alert-danger': visible}" [innerText]="empId">
</div> -->
<br>
<!-- <br>
<div *ngIf="visible" [innerText]="empId"></div>
<button type="button" (click)="toggle()">Toggle</button> -->

<app-department></app-department>
<!-- <app-employee-list [employee]="employeeList" [headerText]="text" (selectedEmployee)="employeeFromChild($event)"></app-employee-list> -->
<br>
<hr>
<br>
<app-product></app-product>
<!-- <div [ngSwitch] ="empRole">
    <div *ngSwitchCase="'super Admin'">
        <h1>Super Admin</h1>
    </div>
    <div *ngSwitchCase="'Admin'">
        <h1>Admin</h1>
    </div>
    <div *ngSwitchCase="'user'">
        <h1>User</h1>
    </div>
</div> -->